@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&display=swap');

body {
    background-color: #171717;
}

#portfolio {
    position: absolute;
    width: 107px;
    height: 34px;
    left: 150px;
    top: 35px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #F9F9F9;
}

#item01 {
    position: absolute;
    width: 100px;
    height: 23px;
    left: 821px;
    top: 70px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #F9F9F9;
    list-style: none; 
}

#item02 {
    position: absolute;
    width: 68px;
    height: 23px;
    left: 957px;
    top: 70px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #F9F9F9;
    list-style: none; 
}

#item03 {
    position: absolute;
    width: 71px;
    height: 23px;
    left: 1060px;
    top: 70px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #F9F9F9;
    list-style: none; 
}

#item04 {
    position: absolute;
    width: 104px;
    height: 23px;
    left: 1186px;
    top: 70px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #F9F9F9;
    list-style: none; 
}

#meunome {
    position: absolute;
    width: 610px;
    height: 94px;
    left: 150px;
    top: 212px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 47px;
    color: #F9F9F9;
}

#meunome02 {
    background: linear-gradient(0.9turn, #cb88e4, #cc3186);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#profissao {
    position: absolute;
    width: 337px;
    height: 23px;
    left: 150px;
    top: 354px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
}

#botao01 {
    position: absolute;
    width: 143px;
    height: 42px;
    left: 150px;
    top: 420px;
    background: #cc3186;
}

#button01 {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 18px;
    left: 45px;
    top: -1px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #e6e3e3;
}

#botao02 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 18px;
    position: absolute;
    width: 157px;
    height: 42px;
    left: 308px;
    top: 420px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#button02 {
    position: absolute;
    width: 121px;
    height: 18px;
    left: 15px;
    top: 11.5px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #F9F9F9;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#caixa {
    position: absolute;
    width: 330px;
    height: 330px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    left: 63%;
    top: 30%;
}

#caixa::before, #caixa::after {
    content: "";
    position: absolute;
    border-radius: 300px;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ff00c8, #cb88e4, #96227d, #cc3186);
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite;
}

@keyframes AnimarBorda{
    0% {
        background-position: 0;
    }

    100% {
        background-position: 300%;
    }
}

#caixa::after {
    filter: blur(50px);
}

#foto {
    position: absolute;
    left: 51.25%;
    top: 5.88%;
}

/* SOBRE MIM */

#sobremim {
    position: absolute;
    width: 167px;
    height: 42px;
    left: 580px;
    top: 700px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#fiap {
    color: #828282;
    text-decoration: none;
}

#texto01 {
    position: absolute;
    width: 745px;
    height: 160px;
    left: -300px;
    top: 100px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #828282;
}

/* PROJETOS */

#projetos {
    position: absolute;
    width: 128px;
    height: 42px;
    left: 620px;
    top: 1167px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#bloco01 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: -500px;
    top: 100px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo01 {
    position: absolute;
    width: 300px;
    height: 130px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo01 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -66px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias01 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -18px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

#bloco02 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: -110px;
    top: 100px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo02 {
    position: absolute;
    width: 300px;
    height: 130px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo02 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -45px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias02 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -10.5px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

#bloco03 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: 280px;
    top: 100px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo03 {
    position: absolute;
    width: 300px;
    height: 130px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo03 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -30px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias03 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -9px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

#bloco04 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: -500px;
    top: 380px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo04 {
    position: absolute;
    width: 300px;
    height: 1px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo04 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -57px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias04 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -2px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

#bloco05 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: -110px;
    top: 380px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo05 {
    position: absolute;
    width: 300px;
    height: 130px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo05 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -32px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias05 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -18px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

#bloco06 {
    position: absolute;
    width: 350px;
    height: 240px;
    left: 280px;
    top: 380px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#retangulo06 {
    position: absolute;
    width: 300px;
    height: 130px;
    left: 23px;
    top: 18px;
    background: #171717;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#titulo06 {
    position: absolute;
    width: 190px;
    height: 23px;
    left: -20px;
    top: 135px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

#tecnologias06 {
    position: absolute;
    width: 200px;
    height: 18px;
    left: -9px;
    top: 170px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

/* HABILIDADES */

#habilidades {
    position: absolute;
    width: 128px;
    height: 42px;
    left: 590px;
    top: 1900px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#photoshop {
    position: absolute;
    width: 200px;
    height: 42px;
    left: -400px;
    top: 150px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha01 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 250px;
    top: 38px;
    background: linear-gradient( to right, #cc3186 50%, transparent 50%);
    border: 1px solid #828282;
}

#iconephotoshop {
    position: absolute;
    color: #cc3186;
    top: 48%;
    left: -30%;
}

#after {
    position: absolute;
    width: 200px;
    height: 42px;
    left: -400px;
    top: 350px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha02 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 250px;
    top: 38px;
    background: linear-gradient( to right, #cc3186 80%, transparent 20%);
    border: 1px solid #828282;
}

#iconeafter {
    position: absolute;
    color: #cc3186;
    top: 48%;
    left: -30%;
}

#premiere {
    position: absolute;
    width: 200px;
    height: 42px;
    left: -400px;
    top: 250px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha03 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 250px;
    top: 38px;
    background: linear-gradient( to right, #cc3186 90%, transparent 10%);
    border: 1px solid #828282;
}

#iconepremiere {
    position: absolute;
    color: #cc3186;
    top: 48%;
    left: -30%;
}

#html {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 280px;
    top: 150px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha04 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 200px;
    top: 35px;
    background: linear-gradient( to right, #cc3186 100%, transparent 0%);
    border: 1px solid #828282;
}

#iconehtml {
    position: absolute;
    color: #cc3186;
    top: 49%;
    left: -10%;
}

#css {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 280px;
    top: 250px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha05 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 200px;
    top: 35px;
    background: linear-gradient( to right, #cc3186 100%, transparent 0%);
    border: 1px solid #828282;
}

#iconecss {
    position: absolute;
    color: #cc3186;
    top: 49%;
    left: -10%;
}

#python {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 280px;
    top: 350px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#linha06 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 200px;
    top: 35px;
    background: linear-gradient(to right, #cc3186 50%, transparent 50%);
    border: 1px solid #828282;
}

#iconepython {
    position: absolute;
    color: #cc3186;
    top: 49%;
    left: -10%;
}

/* CONTATOS */

#contatos {
    position: absolute;
    width: 200px;
    height: 42px;
    left: 570px;
    top: 2400px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

#circulo01 {
    border-radius: 50%;
    position: absolute;
    width: 62px;
    height: 62px;
    left: -180px;
    top: 170px;
    background: #212121;
}

#emoji01 {
    position: absolute;
    color: #cc3186;
    left: 33%;
    top: 23.5%;
}

#facebook {
    position: absolute;
    width: 94px;
    height: 23px;
    left: -12px;
    top: 60px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

#meuface {
    position: absolute;
    width: 150px;
    height: 21px;
    left: -40px;
    top: 90px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

#circulo02 {
    border-radius: 50%;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 520px;
    top: 171.5px;
    background: #212121;
}

#emoji02 {
    position: absolute;
    color: #cc3186;
    left: 25%;
    top: 23.5%;
}

#email {
    position: absolute;
    width: 94px;
    height: 23px;
    left: -12px;
    top: 60px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

#meuemail {
    position: absolute;
    width: 150px;
    height: 21px;
    left: -60px;
    top: 90px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

#circulo03 {
    border-radius: 50%;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 50px;
    top: 170px;
    background: #212121;
}

#emoji03 {
    position: absolute;
    color: #cc3186;
    left: 27%;
    top: 23.5%;
}

#instagram {
    position: absolute;
    width: 94px;
    height: 23px;
    left: -12px;
    top: 60px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

#meuinsta {
    position: absolute;
    width: 150px;
    height: 21px;
    left: -40px;
    top: 90px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

#circulo04 {
    border-radius: 50%;
    position: absolute;
    width: 62px;
    height: 62px;
    left: -400px;
    top: 170px;
    background: #212121;
}

#emoji04 {
    position: absolute;
    color: #cc3186;
    left: 24.5%;
    top: 23.5%;
}

#celular {
    position: absolute;
    width: 94px;
    height: 23px;
    left: -12px;
    top: 60px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

#meunumero {
    position: absolute;
    width: 150px;
    height: 21px;
    left: -40px;
    top: 90px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

#circulo05 {
    border-radius: 50%;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 280px;
    top: 170px;
    background: #212121;
}

#emoji05 {
    position: absolute;
    color: #cc3186;
    left: 26%;
    top: 23.5%;
}

#github {
    position: absolute;
    width: 94px;
    height: 23px;
    left: -16px;
    top: 60px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

#meugit {
    position: absolute;
    width: 150px;
    height: 21px;
    left: -40px;
    top: 90px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

/* RODAPÉ */

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 2824px;
    background: #212121;
}

#rodape {
    position: absolute;
    width: 400px;
    height: 21px;
    left: 450px;
    top: 5px;
    font-family: 'Mada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #F9F9F9;
}